@model Core_Project.Models.Guest

<div class="row form-group mt-2">
    <div class="col-md-10">
        @Html.DropDownListFor(x=>x.GuestId, ViewBag.Rooms as SelectList,"--Select--",htmlAttributes:new{@class="form-control"})
    </div>
    <div class="col-md-2">
        <a class="btn btn-danger text-white" id="btnDeleteRoom">Delete</a>
    </div>
</div>
